{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": ["standard"],
  "plugins": ["html"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "jsx-quotes": ["error", "prefer-double"],
    "node/no-deprecated-api": "off",
    "standard/no-callback-literal": "off",
    "standard/computed-property-even-spacing": "off"
  },
  "globals": {
    "getApp": true,
    "getCurrentPages": true,
    "window": true,
    "global": true,
    "document": true,
    "fetch": true,
    "wx": true
  }
}
